In [1]:
import pandas as pd
from datetime import datetime, timedelta
import os

<h5 style="font-style:italic; font-size:16px;">Exercise 1 - Group CSV data by a common feature</h5>

In [2]:
df_xrates = pd.read_csv("C:\\Users\\Costea\\VisualStudioProjects\\DeclarativeProgramming\\Lab6\\AutomaticDataCollection\\data\\currency_xrates.csv")
df_bnm = pd.read_csv("C:\\Users\\Costea\\VisualStudioProjects\\DeclarativeProgramming\\Lab6\\AutomaticDataCollection\\data\\currency_bnm.csv")
df_cursvalutar = pd.read_csv("C:\\Users\\Costea\\VisualStudioProjects\\DeclarativeProgramming\\Lab6\\AutomaticDataCollection\\data\\currency_cursvalutar.csv")

In [3]:
df_xrates['Bank'] = 'X-Rates'
df_bnm['Bank'] = 'BNM'
df_cursvalutar['Bank'] = 'CursValutar'

In [27]:
today = datetime.now().strftime("%Y-%m-%d")
df_xrates['Date'] = today
df_bnm['Date'] = today
df_cursvalutar['Date'] = today

In [5]:
df_xrates.head(10)

                Currency         Rate     Bank        Date
0         Argentine Peso  1451.275150  X-Rates  2025-12-02
1      Australian Dollar     1.527139  X-Rates  2025-12-02
2         Bahraini Dinar     0.376000  X-Rates  2025-12-02
3          Botswana Pula    13.560649  X-Rates  2025-12-02
4         Brazilian Real     5.370522  X-Rates  2025-12-02
5        Bruneian Dollar     1.297536  X-Rates  2025-12-02
6          Bulgarian Lev     1.685269  X-Rates  2025-12-02
7        Canadian Dollar     1.400866  X-Rates  2025-12-02
8           Chilean Peso   928.832527  X-Rates  2025-12-02
9  Chinese Yuan Renminbi     7.070031  X-Rates  2025-12-02

In [6]:
df_bnm.head(10)

  Currency     Rate Bank        Date
0      EUR  19.6801  BNM  2025-12-02
1      USD  16.9262  BNM  2025-12-02
2      UAH   0.3996  BNM  2025-12-02
3      RON   3.8664  BNM  2025-12-02
4      RUB   0.2178  BNM  2025-12-02
5      CZK   0.8140  BNM  2025-12-02
6      DKK   2.6350  BNM  2025-12-02
7      ISK   1.3262  BNM  2025-12-02
8      NOK   1.6713  BNM  2025-12-02
9      SEK   1.7946  BNM  2025-12-02

In [7]:
df_cursvalutar.head(10)

  Currency      Rate         Bank        Date
0      EUR    5.0906  CursValutar  2025-12-02
1      USD    4.4036  CursValutar  2025-12-02
2      XAU  590.0213  CursValutar  2025-12-02
3      AUD    2.8732  CursValutar  2025-12-02
4      CAD    3.1362  CursValutar  2025-12-02
5      CHF    5.4594  CursValutar  2025-12-02
6      CZK    0.2106  CursValutar  2025-12-02
7      DKK    0.6816  CursValutar  2025-12-02
8      EGP    0.0924  CursValutar  2025-12-02
9      GBP    5.8158  CursValutar  2025-12-02

In [8]:
all_data = pd.concat([df_xrates, df_bnm, df_cursvalutar], ignore_index=True)

In [9]:
grouped_data = all_data.pivot_table(index=['Currency', 'Date'], columns='Bank', values='Rate', aggfunc='first').reset_index()

In [10]:
print(grouped_data)

Bank Currency        Date      BNM  CursValutar  X-Rates
0      100HUF  2025-12-02      NaN       1.3349      NaN
1      100JPY  2025-12-02      NaN       2.8175      NaN
2      100KRW  2025-12-02      NaN       0.2994      NaN
3         AED  2025-12-02   4.6082       1.1990      NaN
4         ALL  2025-12-02   2.0343          NaN      NaN
..        ...         ...      ...          ...      ...
96        USD  2025-12-02  16.9262       4.4036      NaN
97        UZS  2025-12-02   0.1421          NaN      NaN
98        XAU  2025-12-02      NaN     590.0213      NaN
99        XDR  2025-12-02  23.0560       5.9822      NaN
100       ZAR  2025-12-02      NaN       0.2567      NaN

[101 rows x 5 columns]

In [11]:
grouped_data.to_csv("C:\\Users\\Costea\\VisualStudioProjects\\DeclarativeProgramming\\Lab7\\DataManipulation\\data\\grouped_currency.csv", index=False)

<h5 style="font-style:italic; font-size:16px;">Exercise 2 - Compute min, max, and mean for grouped data</h5>

In [12]:
grouped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Currency     101 non-null    object
 1   Date         101 non-null    object
 2   BNM          41 non-null     float64
 3   CursValutar  30 non-null     float64
 4   X-Rates      51 non-null     float64
dtypes: float64(3), object(2)
memory usage: 4.1+ KB

In [13]:
grouped_data.describe()

Bank         BNM  CursValutar       X-Rates
count  41.000000    30.000000     51.000000
mean    7.564998    21.306247   1348.472492
std    10.109033   107.430370   6285.555693
min     0.142100     0.043400      0.307082
25%     1.794600     0.244250      3.447440
50%     4.096900     0.751850      9.459293
75%    10.062200     2.859275    108.910999
max    55.149500   590.021300  42090.724195

In [14]:
stats_per_columns = grouped_data[['X-Rates', 'BNM', 'CursValutar']].agg(['min', 'max', 'mean'])

In [15]:
print(stats_per_columns)

Bank       X-Rates        BNM  CursValutar
min       0.307082   0.142100     0.043400
max   42090.724195  55.149500   590.021300
mean   1348.472492   7.564998    21.306247

In [16]:
stats_per_currency = grouped_data.set_index('Currency')[['X-Rates', 'BNM', 'CursValutar']].agg(['min','max','mean'], axis=1)

In [17]:
print(stats_per_currency)

               min       max      mean
Currency
100HUF      1.3349    1.3349    1.3349
100JPY      2.8175    2.8175    2.8175
100KRW      0.2994    0.2994    0.2994
AED         1.1990    4.6082    2.9036
ALL         2.0343    2.0343    2.0343
...            ...       ...       ...
USD         4.4036   16.9262   10.6649
UZS         0.1421    0.1421    0.1421
XAU       590.0213  590.0213  590.0213
XDR         5.9822   23.0560   14.5191
ZAR         0.2567    0.2567    0.2567

[101 rows x 3 columns]

<h5 style="font-style:italic; font-size:16px;">Exercise 3 – Split concatenated CSV into weekly files</h5>

In [18]:
grouped_data['Date'] = pd.to_datetime(grouped_data['Date'])
grouped_data = grouped_data.sort_values('Date')

In [19]:
start_date = grouped_data['Date'].min()
end_date = grouped_data['Date'].max()

In [20]:
current_start = start_date

while current_start <= end_date:
    current_end = current_start + pd.Timedelta(days=6)
    week_data = grouped_data[(grouped_data['Date'] >= current_start) & (grouped_data['Date'] <= current_end)]
    
    if not week_data.empty:
        file_name = f"{current_start.strftime('%Y%m%d')}_{current_end.strftime('%Y%m%d')}.csv"
        week_data.to_csv(f"C:\\Users\\Costea\\VisualStudioProjects\\DeclarativeProgramming\\Lab7\\DataManipulation\\data\\weekly_files\\{file_name}", index=False)
    
    current_start = current_end + pd.Timedelta(days=1)

<h5 style="font-style:italic; font-size:16px;">Exercise 4 – Retrieve rows for a given date</h5>

In [21]:
grouped_data['Date'] = pd.to_datetime(grouped_data['Date'], format='%Y-%m-%d')

In [22]:
def get_rows_for_date(target_date):
    try:
        target_date = pd.to_datetime(target_date)
    except Exception:
        print("Error: target_date must be a valid date")
        return None
    result = grouped_data[grouped_data['Date'] == target_date]
    if result.empty:
        print(f"No data available for date {target_date.strftime('%Y-%m-%d')}")
        return None
    return result

In [28]:
date_to_check = "2025-12-02"
rows = get_rows_for_date(date_to_check)
print(rows)

Bank         Currency       Date     BNM  CursValutar      X-Rates
0              100HUF 2025-12-02     NaN       1.3349          NaN
72    Philippine Peso 2025-12-02     NaN          NaN    58.605680
71    Pakistani Rupee 2025-12-02     NaN          NaN   282.622448
70                PLN 2025-12-02  4.6537       1.2010          NaN
69         Omani Rial 2025-12-02     NaN          NaN     0.384654
..                ...        ...     ...          ...          ...
28                DKK 2025-12-02  2.6350       0.6816          NaN
27       Czech Koruna 2025-12-02     NaN          NaN    20.827285
26     Colombian Peso 2025-12-02     NaN          NaN  3811.522107
36                HKD 2025-12-02  2.1732          NaN          NaN
100               ZAR 2025-12-02     NaN       0.2567          NaN

[101 rows x 5 columns]

<h5 style="font-style:italic; font-size:16px;">Exercise 5 – Retrieve rows for a given date range</h5>

In [24]:
grouped_data['Date'] = pd.to_datetime(grouped_data['Date'])

In [30]:
def get_rows_for_week(start_date: datetime):
    start = pd.to_datetime(start_date)
    end = start + timedelta(days=6) 
    mask = (grouped_data['Date'] >= start) & (grouped_data['Date'] <= end)
    week_rows = grouped_data.loc[mask]
    if not week_rows.empty:
        return week_rows
    return None

In [33]:
start_week = datetime(2025, 12, 2)
week_data = get_rows_for_week(start_week)
if week_data is not None:
    print(f"Data for week starting {start_week.strftime('%Y-%m-%d')}:")
    print(week_data)
else:
    print("No data available for this week")

Data for week starting 2025-12-02:
Bank         Currency       Date     BNM  CursValutar      X-Rates
0              100HUF 2025-12-02     NaN       1.3349          NaN
72    Philippine Peso 2025-12-02     NaN          NaN    58.605680
71    Pakistani Rupee 2025-12-02     NaN          NaN   282.622448
70                PLN 2025-12-02  4.6537       1.2010          NaN
69         Omani Rial 2025-12-02     NaN          NaN     0.384654
..                ...        ...     ...          ...          ...
28                DKK 2025-12-02  2.6350       0.6816          NaN
27       Czech Koruna 2025-12-02     NaN          NaN    20.827285
26     Colombian Peso 2025-12-02     NaN          NaN  3811.522107
36                HKD 2025-12-02  2.1732          NaN          NaN
100               ZAR 2025-12-02     NaN       0.2567          NaN

[101 rows x 5 columns]