In [15]:
import random
import datetime
from functools import reduce

<h5 style="font-style:italic; font-size:16px;">Exercise 1 - Display dictionary keys and key-value tuples</h5>

In [1]:
grades_dict = {
    "Alice": 9.5,
    "Bob": 7.75,
    "Charlie": 8.2,
    "Diana": 10.0,
    "Ethan": 6.8,
    "Fiona": 8.9,
    "George": 7.3
}

In [2]:
print("Keys:", list(grades_dict.keys()))

Keys: ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George']

In [3]:
print("Values:", list(grades_dict.values()))

Values: [9.5, 7.75, 8.2, 10.0, 6.8, 8.9, 7.3]

In [4]:
print("Key-Value tuples:", list(grades_dict.items()))

Key-Value tuples: [('Alice', 9.5), ('Bob', 7.75), ('Charlie', 8.2), ('Diana', 10.0), ('Ethan', 6.8), ('Fiona', 8.9), ('George', 7.3)]

<h5 style="font-style:italic; font-size:16px;">Exercise 2 - Convert seconds to hh:mm:ss</h5>

In [6]:
total_seconds = random.randint(0, 10000)
print("Total seconds:", total_seconds)

Total seconds: 9302

In [9]:
hours, remainder = divmod(total_seconds, 3600)
minutes, seconds = divmod(remainder, 60)
print(f"Formatted(hh:mm:ss): {hours:02d}:{minutes:02d}:{seconds:02d}")

Formatted(hh:mm:ss): 02:35:02

In [8]:
time_obj = datetime.timedelta(seconds=total_seconds)
print("Using datetime:", time_obj)

Using datetime: 2:35:02

<h5 style="font-style:italic; font-size:16px;">Exercise 3 - Float operations with lambda and map</h5>

In [10]:
operations = [
    lambda x, y: x + y,
    lambda x, y: x - y
]

In [11]:
a = 12.5
b = 7.3

for func in operations:
    print(func(a, b))

19.8
5.2

In [ ]:
values = [1, 2, 3]
nums = [4, 5, 6]

result = list(map(lambda x, y: x + y, values, nums))
print(result)

[5, 7, 9]

<h5 style="font-style:italic; font-size:16px;">Exercise 4 - Display distinct integers using filter</h5>

In [ ]:
values = [1, 2, 3, 2, 4, 1, 5, 3]

seen = set()

distinct_values = list(filter(lambda x: x not in seen and not seen.add(x), values))
print(distinct_values)

[1, 2, 3, 4, 5]

In [14]:
values = [1, 2, 3, 2, 4, 1, 5]

unique_values = set(values)
print(unique_values)

{1, 2, 3, 4, 5}

<h5 style="font-style:italic; font-size:16px;">Exercise 5 - Count character occurrences with reduce</h5>

In [16]:
def count_char(string, char):
    return reduce(lambda acc, c: acc + (c == char), string, 0)

In [17]:
text = "hello world"
character = "l"

occurrences = count_char(text, character)
print(f"Character '{character}' occurs {occurrences} times in '{text}'")

Character 'l' occurs 3 times in 'hello world'

In [18]:
def count_char(string, char):
    count = 0
    for c in string:
        if c == char:
            count += 1
    return count

In [19]:
text = "hello world"
character = "l"

occurrences = count_char(text, character)
print(f"Character '{character}' occurs {occurrences} times in '{text}'")

Character 'l' occurs 3 times in 'hello world'

<h5 style="font-style:italic; font-size:16px;">Exercise 6 - Concatenate any number of strings</h5>

In [20]:
def concat_strings(*args):
    result = ""
    for s in args:
        result += s
    return result

In [22]:
res = concat_strings("Apple", " ", "Rocket", " ", "Sunny", " ", "Laptop", " ", "Blue", " ", "Elephant")
print(res)

Apple Rocket Sunny Laptop Blue Elephant

<h5 style="font-style:italic; font-size:16px;">Exercise 7 - Lambda functions on strings</h5>

In [ ]:
funcs = [
    lambda s: s[1] if len(s) > 1 else None,          
    lambda s: s.upper(),                              
    lambda s: s.lower(),                             
    lambda s: s[0] if s else None,                  
    lambda s: s[-1] if s else None,                  
    lambda s: len(s),                              
    lambda s, c: s.count(c),                         
    lambda s, c: s.find(c)                           
]

In [24]:
sample_string = "Python"
char_to_find = "t"

print("Second character:", funcs[0](sample_string))
print("Uppercase:", funcs[1](sample_string))
print(f"Position of '{char_to_find}':", funcs[2](sample_string, char_to_find))

Second character: y
Uppercase: PYTHON
Position of 't': 2

<h5 style="font-style:italic; font-size:16px;">Exercise 8 - Calculate average of three grades with default values</h5>

In [26]:
def average_grade(grade1=4, grade2=4, grade3=4):
    return (grade1 + grade2 + grade3) / 3

In [28]:
print("Average:", average_grade())
print("Average:", average_grade(6, 8))
print("Average:", average_grade(7, 9, 10))
print("Average:", average_grade(grade2=10, grade1=8))

Average: 4.0
Average: 6.0
Average: 8.666666666666666
Average: 7.333333333333333

<h5 style="font-style:italic; font-size:16px;">Exercise 9 - Recursive sum of first n natural numbers</h5>

In [29]:
def sum_natural(n):
    if n == 0:
        return 0
    return n + sum_natural(n - 1)

In [30]:
n = 10
result = sum_natural(n)
print(f"Sum of first {n} natural numbers is: {result}")

Sum of first 10 natural numbers is: 55

In [31]:
def sum_natural_iterative(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

In [32]:
n = 10
result = sum_natural_iterative(n)
print(f"Sum of first {n} natural numbers is: {result}")

Sum of first 10 natural numbers is: 55